!!!
%html
  %head
    %script{:type => "text/javascript", :src => "prototype.js"}
    %script{:type => "text/javascript", :src => "moo.fx.js"}
    %script{:type => "text/javascript", :src => "sprites.js"}
    %style
      :sass
        img.sprite
          
  %body
    %img{:src => "sprite_frames.png", :class => "sprite"}